    body {
        padding-top: 0%;
        margin:0;
        background-color: darkgray;
    }

    div {
        margin-left: 10%;
        margin-right: 10%;
    }

    table {
        border: 3px solid black;
    }

    th {
        text-align: left;
        width: fit-content;
    }